<!-- Ideas Section -->
    <section id="ideas">
        <div class="container">
            <div class="row">
                <div class="col-lg-12 text-center">
                    <h2 class="section-heading">Ideas</h2>
                    <h3 class="section-subheading text-muted">I have many Ideas, most of them may seem nonsense at all but I love to keep track of them, maybe someday they become the next Big Thing!</h3>
                </div>
            </div>
            <div class="row text-center">
                <div class="col-md-4">
                    <span class="fa-stack fa-4x">
                        <i class="fa fa-circle fa-stack-2x text-primary"></i>
                        <i class="fa fa-database fa-stack-1x fa-inverse"></i>
                    </span>
                    <h4 class="service-heading"> Already Exists</h4>
                    <p class="text-muted">If data is always represented the same way, why we have to transfer all each time we do a copy or a download, why not only transfer directions, recipes or formulas to help recreate them instead. Patterns, data structures, data generators, formulas, series... <br><strong>Working on It</strong> </p>
                </div>
                <div class="col-md-4">
                    <span class="fa-stack fa-4x">
                        <i class="fa fa-circle fa-stack-2x text-primary"></i>
                        <i class="fa fa-globe fa-stack-1x fa-inverse"></i>
                    </span>
                    <h4 class="service-heading">Is there anybody out there?</h4>
                    <p class="text-muted">Speak out, say something, talk with someone, just talk. Talk to someone just because you can.<br><strong>ITABOT</strong></p>
                </div>
                <div class="col-md-4">
                    <span class="fa-stack fa-4x">
                        <i class="fa fa-circle fa-stack-2x text-primary"></i>
                        <i class="fa fa-cutlery fa-stack-1x fa-inverse"></i>
                    </span>
                    <h4 class="service-heading">What to eat?</h4>
                    <p class="text-muted">What you like, what would you like to try, dine at home, dine out... Based on you, on what you like, your health info and goals, your actual location and even the season this mobile app will suggest what to eat</p>
                </div>
            </div>
        </div>
    </section>
