<nav class="navbar navbar-default navbar-fixed-top" ng-class="{'navbar-shrink': loc!=='home'}" id="topNavigation">
    <div class="container">
        <!-- Brand and toggle get grouped for better mobile display -->
        <div class="navbar-header page-scroll">
            <button type="button" class="navbar-toggle"  data-toggle="collapse" data-target="#bs-example-navbar-collapse-1">
                <span class="sr-only">Toggle navigation</span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
            </button>
            <a class="navbar-brand page-scroll" href="#/">Mario-Duran.com</a>
        </div>

        <!-- Collect the nav links, forms, and other content for toggling -->
        <div class="collapse navbar-collapse"  id="bs-example-navbar-collapse-1">
            <ul class="nav navbar-nav navbar-right">
                <li class="hidden">
                    <a href="#/"></a>
                </li>
                <li ng-class="{'active': loc=='portfolio'}">
                    <a class="page-scroll" href="#portfolio">Portfolio</a>
                </li>
                <li ng-class="{'active': loc=='ideas'}">
                    <a class="page-scroll" href="#ideas">Ideas</a>
                </li>
                <li ng-class="{'active': loc=='about'}">
                    <a class="page-scroll" href="#about">About Me</a>
                </li>
                <li ng-class="{'active': loc=='contact'}">
                    <a class="page-scroll" href="#contact">Contact</a>
                </li>
            </ul>
        </div>
        <!-- /.navbar-collapse -->
    </div>
    <!-- /.container-fluid -->
</nav>
